appdirs==1.4.4
atomicwrites==1.4.0
clyent==1.2.1
coloredlogs==15.0.1
conda-verify==3.4.2
Django==1.11.9
et-xmlfile==1.1.0
Flask==2.0.3  
Flask-Uploads==0.2.1
flatbuffers==24.12.23
fonttools==4.25.0
gunicorn==23.0.0
humanfriendly==10.0
inflection==0.5.1
jsonpointer==2.1
mkl-service==2.4.0
munkres==1.1.4
onnxruntime==1.20.1
opencv-python-headless==4.11.0.86  
openpyxl==3.0.10
patsy==0.5.3
ply==3.11
pooch==1.8.2
protobuf==3.20.3
pyasn1-modules==0.2.8
pycurl==7.45.2
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyMatting==1.1.13
PyQt5==5.15.10
PyQtWebEngine==5.15.6
pyreadline3==3.5.4
python-lsp-jsonrpc==1.0.0
rembg==2.0.61
scipy==1.11.4
twstock==1.4.0
webencodings==0.5.1
zstandard==0.19.0
